<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nexus" value="http://localhost:8081/repository/nuget-hosted" />
  </packageSources>
  <packageSourceCredentials>
    <Sonatype>
      <add key="Username" value="admin" />
      <add key="Password" value="1234" />
    </Sonatype>
  </packageSourceCredentials>
</configuration>